<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>ABHYUDAYA BANK DETAILS</h2>
    {% if item %}
    <table>
      <thead>
        <th>BANK_NAME</th>
        <th>IFSC</th>
        <th>OFFICE</th>
        <th>ADDRESS</th>
      </thead>
      {% for i in page_obj %}
      <tr>
        <td>ABHYUDAYA COOPERATIVE BANK LIMITE</td>
        <td>{{i.IFSC}}</td>
        <td>{{i.OFFICE}}</td>
        <td>{{i.ADDRESS}}</td>
      </tr>
        {% endfor %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
     </table>
     {%else%}
     <p>Not found</p>
    {%endif%}
  </body>
</html>
